@import url('https://fonts.googleapis.com/css2?family=Asset&family=Manrope:wght@200,300,500,600,700,800,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* OLD; erase eventually */
  /* --main-bg-color-dark: rgb(50, 50, 50);
  --main-bg-color-light: rgb(250, 250, 250); */

  /* NEW; keep */
  --menuOpacity: 0.95;
  /* --primaryColor: rgb(50, 50, 50); */
  --primaryColor: #151719;
  --secondaryColor: rgb(150, 150, 150);
  /* --backgroundColor: rgb(250, 250, 250); */
  --backgroundColorOpacity: rgba(239, 68, 68, var(--menuOpacity));
  --primaryBtnColor: rgb(87, 228, 0);
  --menuLineGradient: linear-gradient(
      to right,
      rgba(50, 50, 50, 0),
      var(--primaryColor),
      rgba(50, 50, 50, 0)
    )
    1;
  /* --menuLineStyle: 1px solid transparent; */

  --main-font: 'Poppins', system-ui, Helvetica, Arial, sans-serif;
  --attention-font: 'Playfair+Display', Times New Roman, Georgia, serif;
}

body {
  background-color: var(--primaryColor);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

span {
  color: #fff;
}
